.history/.ipynb_checkpoints/03_12_2025_13_23_36_Project_Report-checkpoint.ipynb
.history/.ipynb_checkpoints/03_12_2025_13_38_54_Project_Report-checkpoint.ipynb
.history/.ipynb_checkpoints/03_12_2025_14_26_30_Project_Report-checkpoint.ipynb
.history/03_12_2025_18_15_16_data_explore_sandbox.ipynb
.history/03_12_2025_18_30_59_data_explore_sandbox.ipynb
.history/03_12_2025_19_18_04_data_explore_sandbox.ipynb
.history/03_12_2025_19_40_41_data_explore_sandbox.ipynb
.history/03_12_2025_19_55_42_Project_Report.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/Project_Report-checkpoint-checkpoint.ipynb
.ipynb_checkpoints/Project_Report-checkpoint.ipynb
data/.ipynb_checkpoints/players-checkpoint.csv
.history/03_12_2025_22_48_10_Project_Report.ipynb
Untitled.ipynb
